CEX2Client/xml-resources/web-service-references/CEX2WebService/wsdl/localhost_8080/CEX2WebServer/CEX2WebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server/" name="CEX2WebService">
<types>
<xsd:schema>
<xsd:import namespace="http://server/" schemaLocation="http://localhost:8080/CEX2WebServer/CEX2WebService?xsd=1"/>
</xsd:schema>
</types>
<message name="getLengthOfLongestStringWithException">
<part name="parameters" element="tns:getLengthOfLongestStringWithException"/>
</message>
<message name="getLengthOfLongestStringWithExceptionResponse">
<part name="parameters" element="tns:getLengthOfLongestStringWithExceptionResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="isConnected">
<part name="parameters" element="tns:isConnected"/>
</message>
<message name="isConnectedResponse">
<part name="parameters" element="tns:isConnectedResponse"/>
</message>
<message name="addSampleToServer">
<part name="parameters" element="tns:addSampleToServer"/>
</message>
<message name="addSampleToServerResponse">
<part name="parameters" element="tns:addSampleToServerResponse"/>
</message>
<message name="findSampleWithHighestHumity">
<part name="parameters" element="tns:findSampleWithHighestHumity"/>
</message>
<message name="findSampleWithHighestHumityResponse">
<part name="parameters" element="tns:findSampleWithHighestHumityResponse"/>
</message>
<message name="addNumberToServer">
<part name="parameters" element="tns:addNumberToServer"/>
</message>
<message name="addNumberToServerResponse">
<part name="parameters" element="tns:addNumberToServerResponse"/>
</message>
<message name="findSumOfNumberInServer">
<part name="parameters" element="tns:findSumOfNumberInServer"/>
</message>
<message name="findSumOfNumberInServerResponse">
<part name="parameters" element="tns:findSumOfNumberInServerResponse"/>
</message>
<message name="findAllSamplesWithHumidityAbove">
<part name="parameters" element="tns:findAllSamplesWithHumidityAbove"/>
</message>
<message name="findAllSamplesWithHumidityAboveResponse">
<part name="parameters" element="tns:findAllSamplesWithHumidityAboveResponse"/>
</message>
<message name="getLengthOfLongestString">
<part name="parameters" element="tns:getLengthOfLongestString"/>
</message>
<message name="getLengthOfLongestStringResponse">
<part name="parameters" element="tns:getLengthOfLongestStringResponse"/>
</message>
<portType name="CEX2WebService">
<operation name="getLengthOfLongestStringWithException">
<input wsam:Action="http://server/CEX2WebService/getLengthOfLongestStringWithExceptionRequest" message="tns:getLengthOfLongestStringWithException"/>
<output wsam:Action="http://server/CEX2WebService/getLengthOfLongestStringWithExceptionResponse" message="tns:getLengthOfLongestStringWithExceptionResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://server/CEX2WebService/getLengthOfLongestStringWithException/Fault/Exception"/>
</operation>
<operation name="isConnected">
<input wsam:Action="http://server/CEX2WebService/isConnectedRequest" message="tns:isConnected"/>
<output wsam:Action="http://server/CEX2WebService/isConnectedResponse" message="tns:isConnectedResponse"/>
</operation>
<operation name="addSampleToServer">
<input wsam:Action="http://server/CEX2WebService/addSampleToServerRequest" message="tns:addSampleToServer"/>
<output wsam:Action="http://server/CEX2WebService/addSampleToServerResponse" message="tns:addSampleToServerResponse"/>
</operation>
<operation name="findSampleWithHighestHumity">
<input wsam:Action="http://server/CEX2WebService/findSampleWithHighestHumityRequest" message="tns:findSampleWithHighestHumity"/>
<output wsam:Action="http://server/CEX2WebService/findSampleWithHighestHumityResponse" message="tns:findSampleWithHighestHumityResponse"/>
</operation>
<operation name="addNumberToServer">
<input wsam:Action="http://server/CEX2WebService/addNumberToServerRequest" message="tns:addNumberToServer"/>
<output wsam:Action="http://server/CEX2WebService/addNumberToServerResponse" message="tns:addNumberToServerResponse"/>
</operation>
<operation name="findSumOfNumberInServer">
<input wsam:Action="http://server/CEX2WebService/findSumOfNumberInServerRequest" message="tns:findSumOfNumberInServer"/>
<output wsam:Action="http://server/CEX2WebService/findSumOfNumberInServerResponse" message="tns:findSumOfNumberInServerResponse"/>
</operation>
<operation name="findAllSamplesWithHumidityAbove">
<input wsam:Action="http://server/CEX2WebService/findAllSamplesWithHumidityAboveRequest" message="tns:findAllSamplesWithHumidityAbove"/>
<output wsam:Action="http://server/CEX2WebService/findAllSamplesWithHumidityAboveResponse" message="tns:findAllSamplesWithHumidityAboveResponse"/>
</operation>
<operation name="getLengthOfLongestString">
<input wsam:Action="http://server/CEX2WebService/getLengthOfLongestStringRequest" message="tns:getLengthOfLongestString"/>
<output wsam:Action="http://server/CEX2WebService/getLengthOfLongestStringResponse" message="tns:getLengthOfLongestStringResponse"/>
</operation>
</portType>
<binding name="CEX2WebServicePortBinding" type="tns:CEX2WebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getLengthOfLongestStringWithException">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="isConnected">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addSampleToServer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findSampleWithHighestHumity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addNumberToServer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findSumOfNumberInServer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllSamplesWithHumidityAbove">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLengthOfLongestString">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CEX2WebService">
<port name="CEX2WebServicePort" binding="tns:CEX2WebServicePortBinding">
<soap:address location="http://localhost:8080/CEX2WebServer/CEX2WebService"/>
</port>
</service>
</definitions>